.categories-list{
  position: absolute;
  width: 250px;
  top: 0;
  left: -250px;
  height: 100%;
  background: #bf0006;
  transition: all .5s;
  overflow: hidden;
  z-index: 2;

  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    width: 10px;
    background: #890010;
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    background: rgba(19,19,19,.5);
  }

  &::-webkit-scrollbar{
    width: 10px;
  }

  .close_sidebar{
    display: flex;
    width: 25px;
    height: 25px;
    margin-left: auto;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transform: rotate(45deg);
    text-decoration: none;
  }

  p.section_title{
    margin-bottom: 0;
    text-align: center;
    margin-top: 20px;
  }

  a.button_in_sidebar{
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: #9d0005;
    padding: 7px 0px;
    color: white;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .search_in_sidebar{
    width: 90%;
    margin: 0 auto;
    display: block;
    border: none;
    text-align: center;
    background: #9d0005;
    padding: 7px 0px;
    color: white;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: none;
    outline: none;

    &::placeholder{
      color: #fff;
    }
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li{

      &.category_wrapper_item{
        border-bottom: 1px solid #930000;

        &:first-child{
          border-top: 1px solid #930000;
        }
      }

      .li_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover{
          background-color: #9d0005;
          color: #fff;
          cursor: pointer;
        }

        span.super_span{
          width: 100%;
        }

        span.arrow-down{
          display: block;
          width: 25px;
          height: 25px;
          color: #fff;
          margin-left: auto;

          &::after {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
          }
        }
      }

      a{
        display: inline-block;
        color: #e6d4d4;
        background-color: inherit;
        margin: 0;
        padding: 0px 15px;
        line-height: 35px;
        text-decoration: none;
        position: relative;

        &.has_children_a{
          span.parent_name{
            font-weight: bold;
            font-size: 18px;
          }
        }
      }

      ul.inner_ul{
        display: block;
        background-color: #da0000;

        li{
          a{
            font-weight: normal;
            font-size: 16px;
          }
        }

        &.hidden_default{
          display: none;
        }
      }
    }
  }

  &.custom-visible{
    left: 0;
  }
}

.overlay{
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  display: block;

  &.hiden-overlay{
    display: none;
  }
}

main{
  position: relative;

  .search-sort{
    margin-top: 30px;
    margin-bottom: 30px;

    .search-tag{
      form{
        position: relative;

        input{
          width: 300px;
          border-radius: 5px;
          background: #9d0005;
          border: none;
          height: 35px;
          padding-left: 40px;
        }

        span{
          background: url(https://kisskiss.show/assets/img/h_search.png) no-repeat center;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 8px;
          top: 8px;
        }
      }
    }
  }

  .filter-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nice-init{
      width: 200px;
      background: #bf0006;
      border: 1px solid #bf0006;
      border-radius: 5px;

      margin-right: 15px;

      &:last-child{
        margin-right: 0;
      }

      .current{
        color: white;
        font-size: 18px;
      }

      &::after{
        border-color: #fff;
      }

      .list{
        width: 200px;
        background: #9d0005;

        li{
          color: white;
          font-size: 18px;

          &.selected,
          &:hover{
            background: #bf0006;
          }
        }
      }
    }
  }



  .grid-item{
    width: 25%;
    padding: 5px;

    .item-link-wrapper{
      display: block;

      picture{
        display: block;
        position: relative;
      }
    }

    .icon-download{
      position: absolute;
      right: 10px;
      top: 10px;
    }

    img{
      width: 100%;
      object-fit: cover;

      &.lazy-hidden {
        background: #fffbdb url(/img/loader.gif) no-repeat 50% 50%;
        z-index: 9;
      }
    }
  }

  .border-top-bottom{
    border-top: 2px solid #5a5757;
    border-bottom: 2px solid #5a5757;
  }

  .images-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .pagination{
      text-align: center;
      align-items: center;
      justify-content: center;


      .page-item{

        &.active{
          .page-link{
            background: #fff;
            color: #620000;
          }
        }

        .page-link{
          background: linear-gradient(#c6002a, #620000);
          border: 1px solid #620000;
          color: white;

          &:focus{
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media(max-width: 991px){
  main{
    .grid-item {
      width: 33.33%;
    }
  }
}

@media(max-width: 786px){
  main{
    .grid-item {
      width: 50%;
    }
  }
}

@media(max-width: 568px){
  main{
    .grid-item {
      width: 100%;
    }
  }
}
