footer{
  .main_footer{
    display: flex;
    align-items: center;
    background: linear-gradient(#c6002a,#620000);
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;

    .mf_soc{
      a{
        display: inline-block;
        width: 38px;
        height: 38px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-left: 9px;

        &:hover{
          cursor: pointer;
        }
      }

      .facebook{
        background-image: url(https://kisskiss.show/assets/v.2/img/soc_fb.png);
      }

      .instagram{
        background-image: url(https://kisskiss.show/assets/v.2/img/soc_insta.png);
      }

      .twitter{
        background-image: url(https://kisskiss.show/assets/v.2/img/soc_twitter.png);
      }
    }

    .quick_links{
      .mf_link{
        color: #fff !important;
        margin-right: 15px;
      }
    }

    .langs{
      a{
        color: #fff !important;
        margin-right: 10px;
      }
    }
  }

  .bottom_footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 14px;
    color: #494949;

    .bottom_footer_left{
      width: 45%;
      text-align: left;
    }

    .bottom_footer_right{
      width: 45%;
      text-align: right;
    }

    .bottom_footer_left a{
      font-weight: 700;
      color: #b80024;
      letter-spacing: -1.8px;
    }

    .bottom_footer_right a{
      font-size: 14px;
      color: #a1a1a1;
      margin-left: 12px;
    }
  }
}